# Numbers

In [3]:
123

123

In [4]:
12.34

12.34

In [5]:
1 + 2 + 3 + 4

10

In [6]:
1 * 2 * 3 * 4

24

In [7]:
number = 1
number += 10
number

11

In [12]:
0.9 * 99 * 10

891.0000000000001

# Strings

In [8]:
"double quoted"

'double quoted'

In [9]:
'single quoted'

'single quoted'

In [10]:
'concatenated' + 'strings'

'concatenatedstrings'

In [11]:
"word {} anything".format("foo")

'word foo anything'

# Booleans

In [13]:
True

True

In [15]:
False

False

In [16]:
1 > 3

False

In [17]:
1 < 3

True

In [18]:
2 >= 4

False

In [19]:
2 <= 4

True

In [20]:
2 != 2

False

In [21]:
2 != 3

True

In [22]:
2 == 2

True

# Variables

In [23]:
first_value = 2
second_value = 2

In [24]:
first_value

2

In [25]:
second_value

2

In [26]:
first_value == second_value

True

In [27]:
first = 1

In [28]:
second = 2

In [29]:
third = 3

In [30]:
first < second < third

True

In [31]:
first = 4

In [32]:
first < second < third

False

In [33]:
first = 2

In [34]:
first < second < third

False

In [35]:
first < second and second < third and first < third

False

# Input & Output

In [36]:
input("Enter a number: ")

Enter a number: 1234

'1234'

In [37]:
print("foo")

foo

In [38]:
print("hello world", end='')

hello world

In [39]:
type(12.34)

float

In [40]:
value = 12.34

In [41]:
type(value)

float

In [42]:
value = 1234

In [43]:
type(value)

int

In [44]:
value = '1234'

In [45]:
type(value)

str

In [46]:
type(True)

bool

In [47]:
value = '1234'

In [48]:
value = int(value)

In [49]:
value

1234

In [50]:
type(value)

int

In [51]:
value = str(value)

In [52]:
type(value)

str

In [53]:
value

'1234'

In [54]:
value == True

False

In [55]:
if value:
    print('value is truthy')

value is truthy

In [56]:
bool(value) == True

True

In [58]:
if value == True:
    print('value is truthy')

In [59]:
if 2 == 2:
    print('two equals two')
elif 3 == 3:
    print('three equals three')

two equals two

In [60]:
if 2 == 2:
    print('two equals two')
    
if 3 == 3:
    print('three equals three')

two equals two
three equals three

In [63]:
if 2 == 3:
    print('2 == 3')
else:
    print('2 is not equal')

2 is not equal

In [67]:
condition = 2 < 3

if condition:
    print('two is less than three')

two is less than three

In [68]:
type(condition)

bool

In [69]:
condition = 'cat'

In [70]:
if condition:
    print('condition was truthy')

condition was truthy

In [71]:
if not condition:
    print('condition was not truthy')

In [74]:
animal = 'cat'

if True:
    animal = 'Dog'

if animal == 'Dog':
    print('animal is dog')

animal is dog

# Control Flow

In [76]:
counter = 0
while counter < 3:
    print('foo')
    counter += 1

foo
foo
foo

In [82]:
counter = 0
while counter < 3:
    print('foo')
    if counter == 1:
        continue
    counter += 1

foo
foo

In [94]:
counter = 0
while counter < 10:
    if counter != 4:
        print(counter + 1)
        
    counter += 1

1
2
3
4
6
7
8
9
10

# Type Conversions

In [95]:
str(1234)

'1234'

In [96]:
int('1234')

1234

In [97]:
int('cat')

ValueError: invalid literal for int() with base 10: 'cat'

In [98]:
try:
    int('cat')
except:
    print('cat was not an int')

cat was not an int

In [99]:
try:
    int(input('Enter a number: '))
except:
    print('You didnt enter a number...')

Enter a number: 1234

In [100]:
try:
    int(input('Enter a number: '))
except:
    print('You didnt enter a number...')

Enter a number: cat
You didnt enter a number...

In [101]:
try:
    # have bryce look at this mess
    if True:
        if True:
            if True:
    int(input('Enter a number: '))
    int(input('Enter a number: '))
    int(input('Enter a number: '))
    int(input('Enter a number: '))
    int(input('Enter a number: '))
except:
    print('You didnt enter a number...')
    print('You didnt enter a number...')
    print('You didnt enter a number...')
    print('You didnt enter a number...')
    print('You didnt enter a number...')

IndentationError: expected an indented block (<ipython-input-101-ff95432180a0>, line 6)

In [102]:
todo_list = ['walk the dog', 'do the dishes', 'laundry']

In [112]:
for item in todo_list:
    if item == 'do the dishes':
        continue
    print(item)

walk the dog
laundry

In [ ]:
counter = 0
while counter <= len(todo_list):
    item = todo_list[counter]
    if item == 'do the dishes':
        continue
    print(item)
    counter += 1